**/.ipynb_checkpoints
**/__pycache__
**/.DS_Store
**/.pytest_cache
.venv
.vscode
.eggs
build/
dist/
data/*.png
data/Nclasses/*
data/classes/*
data/Oclasses/*
programs/chatbot.py
proteusPy.egg-info/*
proteusPy/proteusPy.egg-info/*
proteus_logo_sb.png
*.mp4
*.out
*.log
