.ipynb_checkpoints/
__pycache__

.DS_Store
build/*
proteusPy/.DS_Store
proteusPy/pdb/.DS_Store
data/*.png
data/Nclasses/*
data/classes/*
data/Oclasses/*
*.mp4
programs/chatbot.py
proteusPy/.DS_Store
proteusPy.egg-info/*
proteusPy.egg-info/PKG-INFO
proteus_logo_sb.png
proteus_logo_sb.png
.DS_Store
proteus_logo_sb.png
subset.png
proteusPy.egg-info/requires.txt
proteusPy.egg-info/PKG-INFO
proteusPy/.DS_Store
out.ps
cleaned.py
proteusPy.egg-info/PKG-INFO
