**/.ipynb_checkpoints
**/__pycache__
**/.DS_Store
.venv
notebooks/.ipynb_checkpoints
build/*
proteusPy/pdb/.DS_Store
data/*.png
data/Nclasses/*
data/classes/*
data/Oclasses/*
programs/chatbot.py
proteusPy.egg-info/*
proteusPy/proteusPy.egg-info/*
subset.png
cleaned.py
subset.png
*.mp4
*.out
