arrow==1.2.3
av==10.0.0
colored==1.4.4
distlib==0.3.6
docutils==0.19
faiss-cpu==1.7.4
filelock==3.12.2
fqdn==1.5.1
gdown==4.7.1
gooey==1.0.8.1
imageio-ffmpeg==0.4.8
ipycanvas==0.13.1
ipyevents==2.0.1
ipyvtklink==0.2.3
isoduration==20.11.0
jaraco-classes==3.2.3
jsonpath-ng==1.5.3
jsonpointer==2.3
kaleido==0.2.1
keyring==23.13.1
markdown-it-py==2.2.0
marshmallow==3.19.0
mdurl==0.1.2
more-itertools==9.0.0
msgpack==1.0.5
mypy-extensions==1.0.0
numexpr==2.8.4
pdf2text==1.0.0
pdfminer==20191125
pip==23.1.2
pkginfo==1.9.6
ply==3.11
py3dmol==2.0.1.post1
pydantic==1.10.9
pygtrie==2.5.0
pyside6==6.4.1
pyside6-addons==6.4.1
pyside6-essentials==6.4.1
readme-renderer==37.3
regex==2023.6.3
requests-toolbelt==0.10.1
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.2.0
scikit-learn==1.2.0
setuptools==66.1.1
shiboken6==6.4.1
tabulate==0.9.0
trame==2.3.2
trame-client==2.7.0
trame-components==2.1.0
trame-deckgl==2.0.1
trame-markdown==2.0.2
trame-matplotlib==2.0.1
trame-plotly==2.1.0
trame-rca==0.3.0
trame-router==2.0.1
trame-server==2.9.0
trame-simput==2.2.5
trame-vega==2.0.2
trame-vtk==2.0.17
trame-vuetify==2.2.2
twine==4.0.2
typing-extensions==4.5.0
typing-inspect==0.9.0
uri-template==1.2.0
webcolors==1.12
wxpython==4.2.0